<!--header-->
<header class="intro-header">
  <!--Flights page-->
  <div *ngIf="isnavigating('flight')">
    <mdb-navbar class="text-center" SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" href="#"><mdb-icon fas icon="plane-departure"></mdb-icon><strong style="font-size:30px;"> Travel</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" (click)="navigate('flight')"><mdb-icon fas icon="plane"></mdb-icon> Flights </a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" (click)="navigate('hotel')"><mdb-icon fas icon="hotel"></mdb-icon> Hotels</a>
              </li>
              <!--<li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link"><mdb-icon fas icon="car"></mdb-icon> Car-Hire</a>
              </li>-->
            </ul>
            <ul class="navbar-nav nav-flex-icons">
              <!--<li class="nav-item waves-light flex-center" mdbWavesEffect>
                <button type="button" mdbBtn color="default" size="md" rounded="true" data-toggle="modal" data-target="#basicExample"  mdbWavesEffect>Sign In</button>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
              <button type="button" mdbBtn color="default" size="md" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>English(UK)/Nepal(NPR)</button>
            </li>-->
            <li class="nav-item dropdown mt-2 ml-2" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <button class="dropdown-item waves-light" data-toggle="modal" (click)="account.show()" mdbWavesEffect><mdb-icon fas icon="user-circle"></mdb-icon> My account</button>
                <button class="dropdown-item waves-light" mdbWavesEffect  (click)="logout()" mdbWavesEffect><mdb-icon fas icon="sign-out-alt"></mdb-icon> Log Out</button>
              </div>
            </li>
          </ul>
        </links>
    </mdb-navbar>

    <section class="view intro-2" >
      <div class="mask rgba-black-light full-bg-img">
        <div class="container flex-center justify-content-center h-100">
          <div class="d-flex align-items-center justify-content-center content-height w-100">
            <div class="row pt-5 mt-3 w-200 flex-center">
              <div class="col-lg-6 text-center text-md-left mb-5 d-none d-md-block">
                <div class="white-text">
                  <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s"> Where to next? !! {{userDeatils.clientName}} </h2>
                  <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                  <h4 class="wow fadeInLeft" data-wow-delay="0.3s"><a href="#" class="pink-text"><strong><mdb-icon fas icon="plane-departure"></mdb-icon> Travel</strong> </a> helps travelers by sorting through vast amounts of information to find the best possible travel arrangements. In addition, hotels and specialty travel groups use travel services to promote travel packages with different great offers in flights and hotels.</h4>
                  
                </div>
              </div>

              <div class="col-md-6 col-xl-5 mb-4 offset-xl-1 ">
                <mdb-card class="wow fadeInRight white-text" data-wow-delay="0.3s">
                  <mdb-card-body>
                  <div class="text-center">
                      <h3 class="white-text">
                        <mdb-icon fas icon="info-circle" class="text-white"></mdb-icon> Booking Details:</h3>
                      <hr class="hr-light">
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" [checked]="true" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput (click)="setradio('return')">
                      <label class="custom-control-label" for="defaultInline1">Return</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput (click)="setradio('one')">
                      <label class="custom-control-label" for="defaultInline2">One-Way</label>
                    </div>
                    <!--<div class="custom-control custom-radio custom-control-inline mr-auto">
                      <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" mdbInput>
                      <label class="custom-control-label" for="defaultInline3">Multi-City</label>
                    </div>-->

                    <div *ngIf="isSelected('return')">
                      <div class="form-row" >
                        <div class="form-group col-md-6 text-center">
                          <label><mdb-icon fas icon="plane-departure"></mdb-icon> From</label>                    
                          <input mdbInput type="text" class="form-control">
                          <mdb-checkbox class="d-none d-md-block" [checked]="true" [default]="true">Add nearby airport</mdb-checkbox>
                        </div>
                        <div class="form-group col-md-6 text-center">
                          <label><mdb-icon fas icon="plane-arrival"></mdb-icon> To</label>                    
                          <input mdbInput type="text" class="form-control">
                          <mdb-checkbox class="d-none d-md-block" [default]="true">Add nearby airport</mdb-checkbox>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                          <label>Depart</label>
                          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ isAnimated: true }">
                        </div>
                        <div class="form-group col-md-6 text-center">
                          <label>Return</label>
                          <input type="text" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }">
                        </div>
                      </div>
                      <div class="row d-none d-md-block">
                        <div class="col-md-12 text-center">
                          <label>Cabin Class</label>
                          <select class="browser-default custom-select">
                            <option value="economy">Economy</option>
                            <option value="premium">Premium</option>
                            <option value="business">Business Class</option>
                            <option value="first">First Class</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <mdb-checkbox [default]="true">Direct flights only</mdb-checkbox>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <button type="button" mdbBtn color="danger" mdbWavesEffect><mdb-icon fas icon="search"></mdb-icon> Search flights</button>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="isSelected('one')">
                      <div class="form-row" >8345643876
                        <div class="form-group col-md-6 text-center">
                          <label><mdb-icon fas icon="plane-arrival"></mdb-icon> To</label>                    
                          <input mdbInput type="text" class="form-control">
                          <mdb-checkbox [default]="true">Add nearby airport</mdb-checkbox>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                          <label>Depart</label>
                          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ isAnimated: true }">
                        </div>
                        <div class="form-group col-md-6 text-center">
                          <label>Return</label>
                          <input type="text" [disabled]="true" placeholder="One-Way" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <label>Cabin Class</label>
                          <select class="browser-default custom-select">
                            <option value="economy">Economy</option>
                            <option value="premium">Premium</option>
                            <option value="business">Business Class</option>
                            <option value="first">First Class</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <mdb-checkbox [default]="true">Direct flights only</mdb-checkbox>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <button type="button" mdbBtn color="danger" mdbWavesEffect><mdb-icon fas icon="search"></mdb-icon> Search flights</button>
                        </div>
                      </div>
                    </div>
                  </mdb-card-body>
                </mdb-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <!--Hotels page-->
  <div *ngIf="isnavigating('hotel')">
    <mdb-navbar class="text-center" SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" href="#"><mdb-icon fas icon="plane-departure"></mdb-icon><strong style="font-size:30px;"> Travel</strong></a>
        </mdb-navbar-brand>
        <links>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" (click)="navigate('flight')"><mdb-icon fas icon="plane"></mdb-icon> Flights </a>
            </li>
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" (click)="navigate('hotel')"><mdb-icon fas icon="hotel"></mdb-icon> Hotels <span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><mdb-icon fas icon="car"></mdb-icon> Car-Hire</a>
            </li>-->
          </ul>
          <ul class="navbar-nav nav-flex-icons">
            <!--<li class="nav-item waves-light flex-center" mdbWavesEffect>
                <button type="button" mdbBtn color="default" size="md" rounded="true" data-toggle="modal" data-target="#basicExample" mdbWavesEffect>Sign In</button>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
              <button type="button" mdbBtn color="default" size="md" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>English(UK)/Nepal(NPR)</button>
            </li>-->
            <li class="nav-item dropdown mt-2 ml-2" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <button class="dropdown-item waves-light" data-toggle="modal" (click)="account.show()" mdbWavesEffect><mdb-icon fas icon="user-circle"></mdb-icon> My account</button>
                <button class="dropdown-item waves-light" mdbWavesEffect  (click)="logout()" mdbWavesEffect><mdb-icon fas icon="sign-out-alt"></mdb-icon> Log Out</button>
              </div>
            </li>
          </ul>
        </links>
    </mdb-navbar>

    <section class="view intro-2" style="background: url('https://www.idownimages.com/wp-content/uploads/2019/12/Secrets-Vine-Cancun-Resort-Sp-Best-Hotels-.jpg')no-repeat center center fixed; background-size: cover;">
      <div class="mask rgba-black-strong full-bg-img">
        <div class="container flex-center">
          <div class="d-flex align-items-center content-height w-100">
            <div class="row pt-5 mt-3 w-200 flex-center">
              <div class="col-md-6 text-center text-md-left mb-5 d-none d-md-block">
                <div class="white-text">
                  <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s"> Find your place to stay !! </h2>
                  <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                  <h4 class="wow fadeInLeft" data-wow-delay="0.3s"><a href="#" class="pink-text"><strong><mdb-icon fas icon="plane-departure"></mdb-icon> Travel</strong> </a> helps travelers by sorting through vast amounts of information to find the best possible travel arrangements. In addition, hotels and specialty travel groups use travel services to promote travel packages with different great offers in flights and hotels.</h4>
                  
                </div>
              </div>

              <div class="col-md-6 col-xl-5 mb-4 offset-xl-1 ">
                <mdb-card class="wow fadeInRight white-text" data-wow-delay="0.3s">
                  <mdb-card-body>
                  <div class="text-center">
                      <h3 class="white-text">
                        <mdb-icon fas icon="info-circle" class="text-white"></mdb-icon> Booking Details:</h3>
                        <hr class="hr-light">
                    </div>
                    <div>
                      <div class="form-row" >
                        <div class="form-group col-md-12 text-center">
                          <label> Where do you want to stay?</label>                    
                          <input mdbInput type="text" class="form-control">
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                          <label>Check-In</label>
                          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue" [bsConfig]="{ isAnimated: true }">
                        </div>
                        <div class="form-group col-md-6 text-center">
                          <label>Check-Out</label>
                          <input type="text" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }">
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6 text-center">
                          <label>Number of Rooms</label>
                          <input type="number" min="1" max="5" class="form-control" id="numberInputEx" mdbInput placeholder="MIN-1 and MAX-5">
                        </div>
                        <div class="form-group col-md-6 text-center">
                          <label>Number of peoples </label>
                          <input type="number" min="1" max="10" class="form-control" id="numberInputEx" mdbInput placeholder="MIN-1 and MAX-10">
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <button type="button" mdbBtn color="danger" mdbWavesEffect><mdb-icon fas icon="search"></mdb-icon> Search hotels</button>
                        </div>
                      </div>
                    </div>
                  </mdb-card-body>
                </mdb-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>

<!--<div class="row" *ngIf="userClaims">
  <div class="col s12 m7">
    <div class = "card">
      <div class="card-content">
      </div>
    </div>
  </div>
</div>-->

<!--Sign-Up
<div mdbModal #frame1="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-elegant">
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
          <strong>Sign Up</strong>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame1.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-4">
        <div class="md-form mb-5">
          <input type="text" class="form-control" mdbInput>
          <label class="blue-text">Username:</label>
        </div>
        <div class="md-form mb-5">
          <input type="email" id="Form-email1" class="form-control" mdbInput mdbValidate>
          <label for="Form-email1" class="blue-text">Email ID:</label>
          <mdb-error >
            Input invalid
          </mdb-error>
          <mdb-success>Input
            valid
          </mdb-success>
        </div>
        <div class="md-form mb-5">
          <input type="password" id="Form-pass1" class="form-control" mdbInput mdbValidate >
          <label for="Form-pass1" class="blue-text">New-Password:</label>
        </div>
        <div class="md-form pb-3">
          <input type="password" id="Form-pass1" class="form-control" mdbInput mdbValidate >
          <label for="Form-pass1" class="blue-text">Re-enter new-password:</label>
        </div>
        <div class="text-center mb-3">
          <button type="button" mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>Sign Up
          </button>
        </div>
        <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign Up with:</p>
        <div class="row my-3 d-flex justify-content-center">
          <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light" mdbWavesEffect>
            <mdb-icon fab icon="google" class="text-center"></mdb-icon>
          </button>
          <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light" mdbWavesEffect>
            <mdb-icon fab icon="facebook-f"></mdb-icon>
          </button>
          <button type="button" mdbBtn color="white" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>
            <mdb-icon far icon="envelope"></mdb-icon>
          </button>
        </div>
      </div>
      <div class="modal-footer mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end">Already have an account
          <a href="src/app/payment/payment.component.html" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" (click)="frame1.hide()" class="blue-text ml-1"> Sign In</a>
        </p>
      </div>
    </div>
  </div>
</div>-->




<div class="pb-3" style="background-color:#ffffff; width:100%">
  <!--SVG images Flights-->
  <div class="container pt-5" *ngIf="isnavigating('flight')">
    <div class="row pt-5 pb-5">
      <div class="col-md-4 flex-center px-4">
        <div class="row d-flex align-items-center" style="background-color:transparent;">
          <img class="card-img-top pt-3" style="height:180px; width:150px" src="https://t3.ftcdn.net/jpg/01/69/13/40/240_F_169134076_yu5dLk6dMDaBOqBi7rnXlquBKHvdJvk8.jpg">
        </div>
        <div class="row text-center align-items-center rounded">
          <div>
            <h1 class="pt-2 font-weight-bold">
              <strong>Go Anywhere</strong>
            </h1>
            <p class="px-4">It’s your world and we’ll help you explore it. Find the best prices across millions of flights, hotels and car hire options to create your perfect trip.</p>            
          </div>
        </div>
      </div>

      <div class="col-md-4 flex-center px-4">
        <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
          <img class="card-img-top pt-3" style="height:180px; width:150px" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Cartoon_Guy_Drinks_While_Using_A_Computer.svg">
        </div>
        <div class="row text-center flex-center align-items-center rounded">
          <div>
            <h1 class="pt-2 font-weight-bold">
              <strong>Keep it simple</strong>
            </h1>
            <p class="px-4">No hidden fees. No hidden charges. No funny business. With us, you'll always know exactly where your money goes. So you can relax before your trip even begins.</p>            
          </div>
        </div>
      </div>

      <div class="col-md-4 flex-center px-4">
        <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
          <img class="card-img-top pt-3" style="height:180px; width:180px" src="https://esc-alsace.org/wp-content/uploads/2016/06/female-photographer-travel-icons-colorful-illustration-cartoon-tourist-symbols-internationally-famous-landmarks-32114708.jpg">
        </div>
        <div class="row text-center pl-2 flex-center align-items-center rounded">
          <div>
            <h1 class="pt-2 font-weight-bold">
              <strong>Travel your way</strong>
            </h1>
            <p class="px-4">Know where you want to go? See the best time to book. Feeling flexible? Get deals on everything from quick breaks to epic adventures.</p>            
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--SVG images Hotels-->
  <div class="container pt-5" *ngIf="isnavigating('hotel')">
    <div>
      <h1 class="pt-2 flex-center font-weight-bold">
        <strong>Get the best prices from top hotel providers</strong>
      </h1>           
    </div>
      <div class="row pb-5">
        <div class="col-md-2 flex-center px-4">
          <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
            <img class="card-img-top pt-3" style="height:100px; width:150px" src="https://seekvectorlogo.com/wp-content/uploads/2018/09/expedia-vector-logo.png">
            <div class="row text-center flex-center align-items-center rounded">
            </div>
          </div>
        </div>

        <div class="col-md-2 flex-center px-4">
          <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
            <img class="card-img-top pt-3" style="height:100px; width:150px" src="https://www.hoteldiamondchico.com/wp-content/uploads/1280px-Booking.com_logo.svg_.png">
            <div class="row text-center flex-center align-items-center rounded">
            </div>
          </div>
        </div>

        <div class="col-md-2 flex-center px-4">
          <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
            <img class="card-img-top pt-3" style="height:100px; width:150px" src="https://cdn3.paylesser.com/images/18/store/1552975488599_download.png">
            <div class="row text-center flex-center align-items-center rounded">
            </div>
          </div>
        </div>

        <div class="col-md-2 flex-center px-4">
          <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
            <img class="card-img-top pt-3" style="height:100px; width:150px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTbQXxyUlT_UfB8KUDzlZf0TK327TGT12tTaRyfsXmbKTi5lEq8&usqp=CAU">
            <div class="row text-center flex-center align-items-center rounded">
            </div>
          </div>
        </div>

        <div class="col-md-2 flex-center px-4">
          <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
            <img class="card-img-top pt-3" style="height:110px; width:150px" src="https://seeklogo.net/wp-content/uploads/2020/03/Agoda-logo.png">
            <div class="row text-center flex-center align-items-center rounded">
            </div>
          </div>
        </div>

        <div class="col-md-2 flex-center px-4">
          <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
            <img class="card-img-top pt-3" style="height:100px; width:150px" src="https://www.logo.wine/a/logo/Hotels.com/Hotels.com-Logo.wine.svg">
            <div class="row text-center flex-center align-items-center rounded">
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="container" *ngIf="isnavigating('hotel')">
    <div class="row pt-2 pb-5">
      <div class="col-md-4 flex-center px-4">
        <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
          <img class="card-img-top pt-3" style="height:180px; width:150px" src="https://previews.123rf.com/images/illustratorovich/illustratorovich1807/illustratorovich180700059/114705053-woman-and-dog-traveling-hiking-together-graphic.jpg">
        </div>
        <div class="row text-center flex-center align-items-center rounded">
          <div>
            <h1 class="pt-2 font-weight-bold">
              <strong>See it all</strong>
            </h1>
            <p class="px-4">From local hotels to global brands, discover millions of rooms all around the world.</p>            
          </div>
        </div>
      </div>

      <div class="col-md-4 flex-center px-4">
        <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
          <img class="card-img-top pt-3" style="height:180px; width:150px" src="https://cdn.pixelprivacy.com/wp-content/uploads/2018/03/GPS-Mobile.png">
        </div>
        <div class="row text-center ml-3 flex-center align-items-center rounded">
          <div>
            <h1 class="pt-2 font-weight-bold">
              <strong>Compare right here</strong>
            </h1>
            <p class="px-4">No need to search anywhere else. The biggest names in travel are right here.</p>            
          </div>
        </div>
      </div>

      <div class="col-md-4 flex-center px-4">
        <div class="row d-flex align-items-center flex-center" style="background-color:transparent;">
          <img class="card-img-top pt-3" style="height:180px; width:180px" src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Cartoon_Guy_Succeeds_At_Making_Money_Online.svg">
        </div>
        <div class="row text-center flex-center align-items-center rounded">
          <div>
            <h1 class="pt-2 font-weight-bold">
              <strong>Get exclusive rates</strong>
            </h1>
            <p class="px-4">We’ve special deals with the world's leading hotels – and we share these savings with you.</p>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Map-Flights
<div class="mask rgba-gradient d-flex justify-content-center align-items-center" *ngIf="isnavigating('flight')">
    <div class="container">
        <div class="row mt-5 flex-center text-center">
            <label style="font-family:verdana;font-size:25px"><strong>Be inspired</strong><br><label style="font-size:15px">See the whole world at a glance with our flight price map</label></label>
            <agm-map [zoom]="zoom" [zoomControl]="false" [scrollwheel]="false" style="width:100%; height:500px ">
            <agm-marker *ngFor="let map of maps" [latitude]="map.lat" [longitude]="map.lng" [label]="map.label"></agm-marker>
        </agm-map>
        </div>
    </div>
</div>-->



<div class="container pt-5 pb-5">
  <!--Places-Flights-->
  <div *ngIf="isnavigating('flight')">
    <label style="font-family:verdana;font-size:25px"><strong>Plan your perfect trip</strong><br><label style="font-size:15px">Search Flights & Hotels to our most popular destinations</label></label>
    <div class="row pt-3">
      <div class="col-md-4 mb-4" *ngFor="let image of images">
        <mdb-card [ngStyle]="{ 'background-image': 'url(' + image.image + ')'}">
          <div class="text-white text-center flex-center align-items-center rgba-black-light py-5 px-4 rounded">
            <div>
              <h1 class="py-3 font-weight-bold text-white">
                <strong>{{image.name}}</strong>
              </h1>
              <p class="pb-3" [innerHTML]="image.desc"></p>
              <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" *ngFor="let button of buttons" mdbWavesEffect>
              <mdb-icon fas icon={{button.icon}} class="left"></mdb-icon> {{button.text}}</a>
            </div>
          </div>
          </mdb-card>
      </div>
    </div>
  </div>

  <!--Places-Hotels-->
  <div *ngIf="isnavigating('hotel')">
      <label style="font-family:verdana;font-size:25px"><strong>Need Inspiration?</strong><br><label style="font-size:15px">View our hand-picked hotel destinations</label></label>
      <div class="row pt-3">
          <div class="col-md-4 mb-4" *ngFor="let image of images">
              <mdb-card [ngStyle]="{ 'background-image': 'url(' + image.image + ')'}">
                  <div class="text-white rgba-black-light py-5 px-4 rounded">
                      <div>
                          <h1 class="py-3 flex-center align-items-center text-center font-weight-bold text-white">
                          <strong>{{image.name}}</strong>
                          </h1>
                          <h3 class="font-weight-bold pt-5 text-align-left deep-orange-text">
                          <mdb-icon fas icon="angle-right"></mdb-icon><strong> {{image.place}}</strong>
                          </h3>
                      </div>
                  </div>
              </mdb-card>
          </div>
      </div>
  </div>
</div>



<!--// https://client-login-microservice.herokuapp.com/api/v1/sc
{
    username: dayashankarprajapati48
    password: password
}-->


<!--Footer-->
<footer class="page-footer font-small" style="background: url('https://wallpaperaccess.com/full/1867769.jpg ')no-repeat center center fixed; background-size: cover;">
  <div class="mask rgba-light-blue-light full-bg-img">
    <div class="blue-gradient">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h4>Get connected with us on social networks!</h4>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="fb-ic">
                        <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
                    </a>
                    <a class="tw-ic">
                        <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
                    </a>
                    <a class="gplus-ic">
                        <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
                    </a>
                    <a class="li-ic">
                        <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
                    </a>
                    <a class="ins-ic">
                        <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h3 class="text-uppercase font-weight-bold"><mdb-icon fas icon="plane-departure"></mdb-icon> <strong>Travel</strong> </h3>
                <hr class="blue accent-4 mb-3 mt-0 d-inline-block mx-auto" style="width: 100%;">
                <p>Here is the description of the company.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h3 class="text-uppercase font-weight-bold"><strong>Products</strong></h3>
                <hr class="blue accent-4 mb-3 mt-0 d-inline-block mx-auto" style="width: 100%;">
                <p>
                    <a href="#!">MDBootstrap</a>
                </p>
                <p>
                    <a href="#!">MDWordPress</a>
                </p>
                <p>
                    <a href="#!">BrandFlow</a>
                </p>
                <p>
                    <a href="#!">Bootstrap Angular</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h3 class="text-uppercase font-weight-bold"><strong>Useful links</strong></h3>
                <hr class="blue accent-4 mb-3 mt-0 d-inline-block mx-auto" style="width: 100%;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h3 class="text-uppercase font-weight-bold"><strong>Contact</strong></h3>
                <hr class="blue accent-4 mb-3 mt-0 d-inline-block mx-auto" style="width: 100%;">
                <p>
                    <mdb-icon fas icon="home" class="mr-3"></mdb-icon> New York, NY 10012, US
                </p>
                <p>
                    <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@example.com
                </p>
                <p>
                    <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88
                </p>
                <p>
                    <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3 black">© 2020 Copyright:
        <a href="#"> Sushant <mdb-icon fas icon="plane-departure"></mdb-icon></a>
    </div>
    </div>
</footer>

<!--Account Modal-->
<div mdbModal #account="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="https://toppng.com/uploads/preview/file-svg-user-secret-icon-11569049811cejqlj9khf.png" alt="avatar"
            class="rounded-circle img-responsive">
      </div>
      <div class="modal-body mb-1">
        <h5 class="mt-1 mb-2 text-center">{{userDeatils.clientName}}</h5>
        <h4 class="mt-1 mb-2 text-center">Email: {{userDeatils.clientEmail}}</h4>
        <h4 class="mt-1 mb-2 text-center">Contact no.: {{userDeatils.clientContactNumber}}</h4>
        <h4 class="mt-1 mb-2 text-center">Address:{{userDeatils.clientAddress}}</h4>
        <div class="text-center mt-4">
        </div>
      </div>
    </div>
  </div>
</div>
