<div fxLayout="column" fxLayout.xs="column" fxLayoutGap = "20px" >
  <div fxLayout="column" fxLayoutGap="8px" fxLayout.xs="column"  fxLayoutAlign="center center">
    <div class='container' style="width:100%;" fxFlex.xs="100%">
      <mat-label class="decorate">Billing Details</mat-label>
    <br>
      <form>
        <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center" ngClass.xs="mobileContainer">
          <div fxLayout="column">
            <mat-form-field appearance="fill" fxFlex="40%" fxFlex.xs="100%">
              <mat-label>First & Last Name</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayout.xs="column">
            <mat-form-field appearance="fill" fxFlex="40%">
              <mat-label>Email Address</mat-label>
              <input matInput type = "email">
            </mat-form-field>
            </div>
          </div>
          <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px"  fxLayoutAlign="center" ngClass.xs="mobileContainer">
            <div fxLayout="column" fxLayoutGap="8px">
            <mat-form-field appearance="fill" fxFlex="40%" fxFlex.xs="100%">
              <mat-label>Country</mat-label>
              <mat-select>
                <div fxLayout="column" >
                  <mat-option *ngFor='let country of countries' [value]="country.name">
                    {{country.name}}
                  </mat-option>
                </div>  
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" ngClass.xs="mobileContainer">
          <div fxLayout="column" fxLayout.xs="column">
            <mat-form-field appearance="fill" fxFlex="40%" fxFlex.xs="100%">
              <mat-label>State</mat-label>
            <input matInput>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayout.xs="column">
            <mat-form-field appearance="fill" fxFlex="40%">
              <mat-label>Zip Coastal/Postal</mat-label>
              <input matInput>
            </mat-form-field>
            </div>
          </div>
          <mat-label>Payment Method</mat-label>
          <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px"  fxLayoutAlign="center" ngClass.xs="mobileContainer">
            <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="8px">
              <mat-form-field appearance="fill" fxFlex="40%" fxFlex.xs="100%">
                <mat-label>Card</mat-label>
                <mat-select>
                  <div fxLayout="column" fxLayout.xs="column">
                    <mat-option *ngFor='let card of cards' [value]="card.name">
                      {{card.name}}
                    </mat-option>
                  </div>  
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="8px">
             <mat-form-field appearance="fill" fxFlex="40%">
              <mat-label>Card Number</mat-label>
              <input matInput type = "numeric">
            </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="center">
              <mat-form-field appearance="fill" fxFlex="40%" fxFlex.xs="100%">
                 <mat-label>Expiry Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="month"></mat-datepicker>
              </mat-form-field>
               <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="8px">
                <mat-form-field appearance="fill" fxFlex="40%">
                  <mat-label>Security Code(CVV)</mat-label>
                  <input matInput type = "numeric">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
              <button mat-stroked-button style="width: 230px;">
                Paypal <mat-icon style="padding-left:2rem; width: 60px; height:45px"
                svgIcon="paylogo"></mat-icon> 
            </button>
          </div>
          </div>
          <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="center center" ngClass.xs="mobileContainer">
          <button class="marge" mat-flat-button color="warn"><mat-icon>check</mat-icon>Confirm Booking</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div fxLayout="column"  *ngIf="deviceXs" fxLayoutGap = "10px" >
  <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center">
    <div class='container' style="width:100%;">
      <mat-label class="decorate">Billing Details</mat-label>
    <br>
      <form>
        <div fxLayout="column"fxLayoutAlign="center">
          <div fxLayout="column">
            <mat-form-field appearance="fill">
              <mat-label>First & Last Name</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <mat-form-field appearance="fill">
              <mat-label>Email Address</mat-label>
              <input matInput type = "email">
            </mat-form-field>
            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center">
            <div fxLayout="column" >
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <mat-select>
                <div fxLayout="column" >
                  <mat-option *ngFor='let country of countries' [value]="country.name">
                    {{country.name}}
                  </mat-option>
                </div>  
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" >
          <div fxLayout="column" fxLayout.xs="column">
            <mat-form-field appearance="fill" fxFlex="40%">
              <mat-label>State</mat-label>
            <input matInput>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <mat-form-field appearance="fill">
              <mat-label>Zip Coastal/Postal</mat-label>
              <input matInput>
            </mat-form-field>
            </div>
          </div>
          <mat-label>Payment Method</mat-label>
          <div fxLayout="column" fxLayoutAlign="center">
            <div fxLayout="column">
              <mat-form-field appearance="fill">
                <mat-label>Card</mat-label>
                <mat-select>
                  <div fxLayout="column">
                    <mat-option *ngFor='let card of cards' [value]="card.name">
                      {{card.name}}
                    </mat-option>
                  </div>  
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="column">
            <mat-form-field appearance="fill">
              <mat-label>Card Number</mat-label>
              <input matInput type = "numeric">
            </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="center">
              <mat-form-field appearance="fill">
                <mat-label>Expiry Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="month"></mat-datepicker>
              </mat-form-field>
              <div fxLayout="column">
                <mat-form-field appearance="fill">
                  <mat-label>Security Code(CVV)</mat-label>
                  <input matInput type = "numeric">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
              <button class="marge" mat-stroked-button>PayPal</button>
          </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center">
          <button class="marge" mat-flat-button color="warn"><mat-icon>check</mat-icon>Confirm Booking</button>
        </div>
      </form>
    </div>
  </div>
</div>